---
title: About BeamNG-MP
linkTitle: About
menu:
  main:
    weight: 10

---


{{< blocks/cover title="About BeamNG-MP" image_anchor="bottom" height="max" >}}

<p class="lead mt-5">BeamNG-MP Bringing Multiplayer to BeamNG.drive!
</p>

{{< /blocks/cover >}}

{{% blocks/lead %}}
BeamNG-MP is a community fan made mod for the BeamNG.drive game. The mod is not affiliated with the BeamNG Company or in any other way.
{{% /blocks/lead %}}


{{< blocks/section >}}
{{% blocks/feature icon="fa-user-tie" title="Titch2000" %}}
Titch2000 or Starystars67 is a real person...

[View Other Work](https://github.com/Starystars67)
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-user-tie" title="Jojos38" url="" %}}
Jojos38 is a real person...
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-user-tie" title="Anonymous275" %}}
Anonymous275 is a real person...
{{% /blocks/feature %}}


{{< /blocks/section >}}
